@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #000000;
    --color-secondary: #2d2d2d;
    --color-accent: #b8b32f;
    --color-text: #ffffff;
    --color-text-muted: #BCBCBC;
}

.herocontainer{
    display:  flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem 5rem;
}

.hero h1 {
    font-size: 55px;
    font-family: 'IBM Plex Mono', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.hero h1, .hero p, .hero .cta-button {
    margin: 10px 0;
}

.hero p{
    font-family:Anonymous Pro;
    font-size: 20px;
    line-height: 20px;
}

.cta-button {
    width: 190px;
    height: 46px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-radius: 19PX;
}

.imagee-container {
    margin-inline: 3%;
    position: relative;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
}
  
.imagee {
    position: absolute;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
  
.imagee-1 {
    top: 0;
    left: 0;
    width: 60%;
    z-index: 1;
}
  
.imagee-2 {
    top: 10%;
    right: 0;
    width: 65%;
    z-index: 2;
}
  
.imagee-3 {
    bottom: 0;
    left: 15%;
    width: 50%;
    z-index: 3;
}
  
.imagee:hover {
 transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .herocontainer {
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .hero p {
        font-size: 1.25rem;
    }
}

.quote_sec{
    background-color: var(--color-text-muted);
    padding: 5rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #000000;
}

.quote_sec h1{
    font-family: "IBM Plex Mono", serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.quote_sec p{
    font-family: "Anonymous Pro", serif;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    font-weight: 500;
    text-transform: none;
}

.quote_sec span {
    font-family: "IBM Plex Mono", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.quote_sec .bxs-quote-alt-left{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1000px) {
    .quote_sec {
        padding: 2rem;
        height: 100%;
        justify-content: right;
        align-items: start;
        text-align: start;
    }

    .quote_sec h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .quote_sec p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .quote_sec span {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .quote_sec .bxs-quote-alt-left{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}